@import '/scss/shared/utils/colours';
@import '/scss/shared/buttons/base';

.hubspot_btn {
    @extend .btn;
    background-color: $color-hubspot;
    color: $color-white;
    border: none;
    &:focus {
        background-color: $color-hubspot;
        color: $color-white;
    }

    &:hover,
    &:active {
        background-color: $color-hubspot;
        color: $color-black;
    }
}
