@import '/scss/shared/utils/colours';
@import '/scss/shared/buttons/base';

.secondary_ghost_btn {
    @extend .btn;
    background-color: none;
    color: $color-secondary;
    border: $color-secondary;
    border-width: 1px;
    border-style: solid;

    &:hover,
    &:active,
    &:focus {
        background-color: $color-primary;
        color: $color-white;
    }
}
