$font-marketplace: 'Helvetica';
$font-portal: 'Helvetica';

$document-font-size: 14px;

$timing: cubic-bezier(0.77, 0, 0.175, 1);
$timing-1: cubic-bezier(0.7, 0, 0.3, 1);
$timing-2: cubic-bezier(0.2, 1, 0.3, 1);
$timing-3: cubic-bezier(0.4, 0, 0.2, 1);

$box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
$box-shadow-main: 0 0px 5px rgba(0, 0, 0, 0.12);
$line-break: rgba(0, 0, 0, 0.08);

$card-box-shadow: 0px 2px 10px 0.1px rgba(0, 0, 0, 0.08);
$overlay-color: rgba(0, 0, 0, 0.3);
